body {
    font-family: sans-serif;
}

.weather-card {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search input[type="text"] {
    border: none;
    padding: 16px;
    font-size: 18px;
    width: 70%;
    border-radius: 30px 0 0 30px;
  }
  
  .search button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
  }

  .search button img {
    width: 30px;
  }
  
  .main img {
    margin-top: 20px;
  }

  .weather-icon {
    width: 200px;
  }
  
  .main .temp {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .main .location {
    font-size: 36px;
    font-weight: 1000;
    margin-bottom: 30px;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
  }
  
  .details .col {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .details .col img {
    max-width: 80px;
    margin-bottom: 20px;
  }
  
  .details .col h3 {
    font-size: 30px;
    font-weight: bold;
  }

  .pop-up {
    width: 400px;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.1);
    margin: 50px auto;
    padding: 20px 30px 30px;
    align-content: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: 0.4s transform, 0.4s top;
    visibility: hidden;
  }

  .pop-up img {
    width: 100px;
    margin-top: -45px;
  }

  .pop-up h3 {
    font-weight: 700;
  }

  .pop-up button {
    width: 60%;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
  }
  .pop-up button:hover {
    background-color: #034a97;
  }